
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1a202c;
    margin: 0;
    overflow: hidden;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
canvas {
    image-rendering: pixelated;
}
